body {
  margin: 0;
  background: rgb(255, 44, 44);
}

.navbar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  background: rgb(255, 44, 44);
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100px;
}

.aaa {
}

.timer {
  display: inline-block;
  justify-content: center;
}

li {
  display: inline;
  justify-content: center;
  color: white;
  list-style: none;
}

.charList {
  display: flex;
}

.char {
  position: relative;
  display: flex;
  align-items: space-around;
  height: 75px;
  border: 1px solid black;
}

.characterImg {
  width: 100%;
  height: auto;
  z-index: 1;
}

.tick {
  position: absolute;
  height: 75px;
  width: 100%;
  display: flex;
  z-index: 2;
}

@media only screen and (min-width: 801px) {
}

@media only screen and (max-width: 500px) {
  .timerText {
    display: none;
  }
}

.container {
  padding-top: 85px;
}

.wally {
  display: block;

  height: 100%;
  width: 100%;
}

.dropdown {
  position: absolute;
  font-size: large;
  border: 4px solid red;
}

option {
  background-color: white;
  padding: 5px;
}

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #f8f8f8;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 3px solid red;
  width: 25%; /* Could be more or less, depending on screen size */
}

@media only screen and (max-width: 600px) {
  .modal-content {
    width: 50%;
  }
}

/* The Close Button */
.close {
  color: #aaa;
  margin-left: auto;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.hiscoresContent {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}

td {
  padding: 5px;
  text-align: center;
}
